.statistics {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  margin-top: 40px;

  border: 1px solid #2f4f4f;
  border-radius: 8px;
  overflow: hidden;
}
.statList {
  outline: 1px solid black;
  display: flex;
  /* justify-content: space-between; */

  background-color: burlywood;

  margin: 0px;
  padding: 0px;

  list-style: none;
}
.item {
  display: flex;
  flex-direction: column;

  width: 61px;
}
.item:not(:last-child) {
  border-right: 1px solid black;
}
